<template>
    <div class="root">

        <navbar></navbar>
        <br>
        <div class="container 404-page" dir="rtl">
            <br>
            <p> {{ $store.getters.lang.page_not_found }} </p>
            <router-link to="/"> {{ $store.getters.lang.back_to_home_page }} </router-link>
        </div>

    </div>
</template>
