<template lang="html">
  <div class="root">

    <navbar></navbar>

    <br>
    <div class="container">
      <div class="BigContainer">
    		<div class="columns">
    			<div class="column is-1"></div>
    			<div class="column is-10">

            <!--  -->
            <div class="columns">
              <div class="column is-3">

                <div class="sideColumn2">
                  <join-box></join-box>

                  <random-posts></random-posts>
                </div>

              </div>
              <div class="column is-6">

                <!-- posts -->
                <publications></publications>

              </div>
              <div class="column is-3">

                <div class="sideColumn1">

                  <!-- Follow / Unfollow this category -->
                  <div class="in-category-page category-box special-box p-25">
                    <div class="title">
                      <span> {{ $route.params.category.replace(/\-/g,' ') }} </span>
                    </div>
                    <div class="button-div">

                        <!-- waiting for comming data -->
                        <button v-if="user_category_state === null"class="button is-primary is-loading">
                          {{ $store.getters.lang.follow }}
                        </button>

                        <!-- not auth or not following -->
                        <button v-if="user_category_state === false" ref="follow_btn" @click="followCategory($route.params.id)" class="button is-primary">
                          {{ $store.getters.lang.follow }}
                        </button>

                        <!-- following -->
                        <button v-if="user_category_state === true" class="button is-light" @click="unfollowCategory($route.params.id)">
                          {{ $store.getters.lang.unfollow }}
                        </button>

                    </div>
                  </div>

                  <side-articles-best-of-week></side-articles-best-of-week>

                  <privacy-contact></privacy-contact>
                </div>

              </div>
            </div>
            <!--  -->

    			</div>
    			<div class="column is-1"></div>
    		</div>
    	</div>
    </div>

  </div>
</template>

<script>

export default {

  data() {
    return {
        // means is it exist ? it will be changed by ajax response
        most_recent_data : false,
        exams: [],
        string : null,

        // css binding
        last_index : null,
        no_more_data : false,

        // false: not following or not auth
        // true: following
        user_category_state: null
    }
  },
  mounted(){
    
    // to know if the user is following this category
    this.getCategoryInfo();

    this.getCurrentAds();

    // wait for publications to load, but not for a long time
    let counter = 5;

    let interval = setInterval( ()=>{

      if(document.getElementsByClassName('publicationBigCont').length > 10){
        clearInterval(interval);

        new PrettyScroll('.sideColumn1', {
            container: '.BigContainer',
            breakpoint: 1000, // stop running the js when the window size is smaller than 575px
            offsetTop: 80, // space between the sticky element and the top of the window
            offsetBottom: 300, // space between the sticky element and the bottom of the window
            condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
        });

        new PrettyScroll('.sideColumn2', {
            container: '.BigContainer',
            breakpoint: 1000, // stop running the js when the window size is smaller than 575px
            offsetTop: 80, // space between the sticky element and the top of the window
            offsetBottom: 100, // space between the sticky element and the bottom of the window
            condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
        });

      }

      counter += 5;
      if(counter == 100) clearInterval(interval);

    },5);
  },
  methods: {

    getCategoryInfo(){
      
      // if the user is auth, then get his status with this category
      axios.get('/get-category-user/'+this.$route.params.id)
      .then(res => {
        console.log(res.data);
        if(res.data > 0) {
          this.user_category_state = true;
        }else{
          this.user_category_state = false;
        }
      });
      
    },

    followCategory(id){

      if(!this.$store.getters.user.id){
        this.$snackbar.open({
            message: this.$store.getters.lang.login_first,
            type: 'is-warning',
            position: 'is-bottom',
            indefinite: true,
            onAction: () => {
            }
        });
        return;
      }

      axios.post('/save_followed_category',{
        category_id : id
      }).then(res => {
        if(res.status == 200){
          this.user_category_state = true;
        }
      }).catch(err => {
        //
      });
    },

    unfollowCategory(id){
      axios.post('/unfollow_category',{
        category_id : id
      }).then(res => {
        this.user_category_state = false;
      }).catch(err => {
        //
      });
    },

    getCurrentAds(){
      axios.get('/get-current-ads')
      .then(res => {
        document.getElementById('ads1').innerHTML = res.data[0].ads1;
        document.getElementById('ads2').innerHTML = res.data[0].ads2;
      })
      .catch(err => {
        //
      });
    },
  },

}
</script>
