<template lang="html">
  <div class="root">

      <navbar></navbar>

      <br>
      <div class="container">
      		<div class="columns">
      			<div class="column is-1"></div>
      			<div class="column is-10">

              <!--  -->
              <div class="columns">
                <div class="column categories-page is-9 m-t-25">

                  <!-- TABS BAR -->
                  <div class="m-b-25">
                    <span v-if="$store.getters.user.id" ref="tabOfFollowed" @click="tab = 'followed'" class="tab checked">
                      {{ $store.getters.lang.following }}
                    </span>
                    
                    <span ref="tabOfAll" @click="tab = 'all'" class="tab">
                      {{ $store.getters.lang.all }}
                    </span>
                  </div>

                  <!-- FOR LOOP -->
                  <div v-if="tab == 'followed' && $store.getters.user.id">
                    <div v-for="category in followed_categories" class="label">
                      <router-link :to="{ name: 'category', params: { id: category.id , category : category.category.replace(/[\/\\\s]/g,'-')} }">
                        {{ category.category }}
                      </router-link>
                    </div>
                  </div>

                  <!-- FOR LOOP -->
                  <div v-if="tab == 'all'">
                    <div v-for="category in all_categories" class="label">
                      <router-link :to="{ name: 'category', params: { id: category.id , category : category.category.replace(/[\/\\\s]/g,'-')} }">
                        {{ category.category }}
                      </router-link>
                    </div>
                  </div>

                </div>
                <div class="column is-3">

                  <random-posts></random-posts>

                  <privacy-contact></privacy-contact>

                </div>
              </div>
              <!--  -->

      			</div>
      			<div class="column is-1"></div>
      		</div>
      </div>

  </div>
</template>

<script>
/*
 initilize the tab: followed or all
 because if the tab is in followed mode and the user is not authenticated
 it will cause problems or errors. 
*/ 


export default {
  data(){
    return {
      all_categories: [],
      followed_categories: [],
      tab : 'followed',
    }
  },
  mounted(){
    this.getAllCategories();
    this.getCategories();
  },
  methods: {

    getCategories(){
      axios.get('/get_old_categories')
        .then(res => {
            if(res.status == 200){
              this.followed_categories = res.data;
            }
        })
        .catch(err => {

        });
    },

    getAllCategories(){
        axios.get('/get_categories')
        .then(res => {
          this.all_categories = res.data;
          NProgress.done();
        })
        .catch(err => {
          //
        });
    }
  },
  watch : {
    tab(value){
      this.$refs.tabOfAll.className = 'tab';
      this.$refs.tabOfFollowed.className = 'tab';
      if(value == 'all') this.$refs.tabOfAll.className = 'tab checked';
      else this.$refs.tabOfFollowed.className = 'tab checked';
    }
  }
}

</script>
