<template lang="html">
  <div class="root">

    <navbar></navbar>

    <br>
    <div class="container">
      <div class="BigContainer">
    		<div class="columns">
    			<div class="column is-1"></div>
    			<div class="column is-10">

            <!--  -->
            <div class="columns">
              <div class="column is-3">

                <div class="sideColumn2">

                  <div class="logo m-b-25 m-t-5">
                    <img @click="$router.push('/')" id="logo" src="/images/logo/logo5.png" />
                  </div>

                  <a v-if="$store.getters.user.role == 1" href="/dashboard">
                    <span class="button is-primary m-b-25 width100"> {{ $store.getters.lang.dashboard }} </span>
                  </a>

                  <join-box></join-box>

                  <random-posts></random-posts>
                </div>

              </div>
              <div class="column is-6">

                <!-- posts -->
                <publications></publications>

              </div>
              <div class="column is-3">

                <div class="sideColumn1">
                  <side-articles-best-of-week></side-articles-best-of-week>

                  <privacy-contact></privacy-contact>
                </div>

              </div>
            </div>
            <!--  -->

    			</div>
    			<div class="column is-1"></div>
    		</div>
    	</div>
    </div>

  </div>
</template>

<script>

export default {

  data() {
    return {
      
    }
  },
  mounted(){

    // wait for publications to loa

    let interval = setInterval( ()=>{

      if(document.getElementsByClassName('publicationBigCont').length > 10){
        
        clearInterval(interval);
        new PrettyScroll('.sideColumn1', {
            container: '.BigContainer',
            breakpoint: 1000, // stop running the js when the window size is smaller than 575px
            // offsetTop: 200, // space between the sticky element and the top of the window
            offsetBottom: 90, // space between the sticky element and the bottom of the window
            condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
        });

        new PrettyScroll('.sideColumn2', {
            container: '.BigContainer',
            breakpoint: 1000, // stop running the js when the window size is smaller than 575px
            offsetBottom: 200, // space between the sticky element and the bottom of the window
            condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
        }); 

      }

    },5);

  },

}
</script>
