<template lang="html">
  <div class="root">

    <navbar></navbar>
    
    <div class="container">
      <div class="columns">
        <div class="column is-1">

        </div>
        <div class="column is-10 ws-div write-post write-somthing p-0">
          <div class="content">
            <Quill-bubble-show :topic="content"></Quill-bubble-show>
          </div>
        </div>
        <div class="column is-1">

        </div>
      </div>

    </div>

  </div>
</template>

<script>
export default {

  data(){
    return {
      content: null,
    }
  },
  mounted(){
    this.getData();
    NProgress.done();
  },

  methods: {
    getData(){
      axios.get('/get-instructions-of-use')
        .then(res => {
          this.content = res.data.instructions_of_use;
        })
        .catch(err => {
          //
        });
    }
  }

}
</script>

<style lang="css">
</style>
