<template lang="html">
  <div id="root">

    <dashboard>
      <div class="column is-9 dashboard-9-box special-box" dir="ltr">

            <div class="tab-title"> {{ $store.getters.lang.comments }} </div>

            <div v-if="show_comments && comments.length" class="ws-div comments-dashboard">
              <div v-for="comment in comments" :id="'comment'+comment.id" ref="p_comment" class="comment ws-div">
                <div class="label">
                  <div v-if="comment.question">
                    <a :href="'/questions/'+comment.question.id+'/'+comment.question.title.replace(/[\/\\\s]/g,'-')">
                      <span class="user"> {{ comment.question.title }} </span>
                    </a>
                  </div>
                  <div v-else>
                    {{ $store.getters.lang.post_has_been_deleted }}
                  </div>
                </div>
                <div class="header">
                  <span class="profile-photo">
                    <img :src="'https://www.gravatar.com/avatar/'+comment.user.profile_img+'?d=https://i.suar.me/varoL/l'"/>
                  </span>

                  <a :href="'/users/'+comment.user.id+'/'+comment.user.name.replace(/[\/\\\s]/g,'-')">
                    <span class="user"> {{ comment.user.name }} </span>
                  </a>
                  <span class="time"> {{ this.window.moment.utc().fromNow(comment.user.updated_at) }} </span>
                </div>
                <p class="content">
                  <Quill-bubble-show :topic="comment.topic"></Quill-bubble-show>
                  <update-quill-content @changed="changecommentdata($event,comment.id)" :topic="comment.topic" :comment_id="comment.id"></update-quill-content>
                </p>
                <div class="footer columns">
                  <div class="column">
                    <span class="comments"> {{ comment.replies }} {{ $store.getters.lang.comment }} </span>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="show_comments">
                <span ref="more_btn" @click="getAllComments()" class="button is-dark"> {{ $store.getters.lang.show_more }} </span>
            </div>
            <div v-if="!show_comments">
                <span @click="show_comments = true;getAllComments()" class="button is-default"> {{ $store.getters.lang.show_all }} </span>
            </div>

      </div>
    </dashboard>

  </div>
</template>

<script>
export default {

  data(){
    return {
      moment,
      show_comments: false,
      comments: [],
    }
  },

  mounted(){
    // this.getAllComments();
  },

  methods: {
    changecommentdata(object,id){
      for (var i = 0; i < this.comments.length; i++) {
        if(this.comments[i].id == id){
          this.comments[i].topic = object.topic;
        }
      }
    },
    
    getAllComments(){
      axios.get('/get-all-comments/'+this.comments.length)
      .then(res => {
        if(!res.data.length) this.$refs.more_btn.className += ' is-static';
        this.comments = this.comments.concat(res.data);
        NProgress.done();
        this.show_comments = true;
      })
      .catch(err => {
        // console.log(err);
      });
    },

    removeComment(id){
      this.$dialog.confirm({
          title: this.$store.getters.lang.action_delete,
          message: this.$store.getters.lang.do_you_want_to_continue_this_action,
          confirmText: this.$store.getters.lang.delete,
          cancelText: this.$store.getters.lang.cancel,
          type: 'is-danger',
          hasIcon: false,
          onConfirm: () => {
            axios.post('/remove-comment/'+id)
            .then(res => {
              if(res.status == 200) {
                this.removeDeletedComment(id);
                this.$toast.open({
                    duration: 5000,
                    message: this.$store.getters.lang.post_has_been_deleted,
                    position: 'is-bottom',
                    type: 'is-dark'
                })
              }
            })
            .catch(err => {

            });
          }
      })
    },

    removeDeletedComment(id){
      let i = 0;
      for(i;i<this.comments.length;i++){
        if(this.comments[i].id == id){
            this.comments.splice(i,1);
        }
      }
    },
  }

}
</script>
