<template>
  <div>

      <dashboard>
        <div class="column is-9 dashboard-9-box special-box" dir="ltr">

            <div class="tab-title"> {{ $store.getters.lang.create }} {{ $store.getters.lang.categories }} </div>

            <div v-if="creating_categories_is_ready" class="field">
              <input v-model="current_category" type="text" @keyup.prevent.enter="addcategory" dir="rtl" :placeholder="this.$store.getters.lang.write_and_press_enter" autofocus>
            </div>

            <div class="field">
                <div class="control">
                    <div class="field tags-container">
                        <div v-for="category in categories">
                            <b-tag
                                type="is-primary"
                                closable
                                @close="removeCategoryAndClose(category)">
                                {{ category }}
                            </b-tag>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="!creating_categories_is_ready" class="field rtl"> ... </div>

            <div class="save-button-div" v-if="creating_categories_is_ready">
                <button @click="saveCategories" :class="save_butt_class">
                    {{ $store.getters.lang.save }}
                </button>
            </div>

            <div class="tab-title"> {{ $store.getters.lang.show_all }} {{ $store.getters.lang.categories }} </div>

            <div class="help-block m-b-25">
              <strong>
                {{ $store.getters.lang.warning_for_deleting_categories }}
              </strong>
            </div>

            <table v-if="show_old_categories" class="table">

                <thead>
                    <tr>
                        <th> {{ $store.getters.lang.delete }} </th>
                        <th> {{ $store.getters.lang.edit }} </th>
                        <th> {{ $store.getters.lang.category }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr :id="'cat'+category.id" v-for="category in old_categories">
                        <td>
                            <span @click="removeCategoryFromDB(category.id)" class="button is-dark is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </td>
                        <td>
                            <span @click="editCategoryName(category.id)" class="button is-dark is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                        </td>
                        <td :id="'cat-text-'+category.id">{{ category.category }}</td>
                    </tr>
                </tbody>

            </table>
            <div v-if="!show_old_categories" class="txt-center">
                <span @click="show_old_categories = true" class="button is-default"> {{ $store.getters.lang.show_all }} </span>
            </div>

        </div>
      </dashboard>

  </div>
</template>


<script>
export default {
  data(){
      return {
          current_category : '',
          categories : [],
          old_categories : [],
          creating_categories_is_ready : false,
          save_butt_class : 'button is-primary nextButt',
          show_old_categories : false
      }
  },
  mounted(){
      this.getOldCategories();
  },
  methods: {

      getOldCategories(){
          axios.get('/get_categories')
            .then(res => {
                if(res.status == 200){
                    // let arr = [];
                    // arr = res.data;
                    // arr.forEach(object => {
                    //     this.old_categories.push(object.category);
                    // });
                    this.old_categories = res.data;
                    this.creating_categories_is_ready = true;
                }
            })
            .catch(err => {
                // console.log(err);
            });
      },

      addcategory(){
          if(this.current_category != ''
                && this.old_categories.indexOf(this.current_category) == -1
                && this.categories.indexOf(this.current_category) == -1
            ){
            this.categories.push(this.current_category);
            this.current_category = '';
          }else{
              this.current_category = '';
          }
      },

      saveCategories(){

          if(this.categories.length == 0){
              return 0;
          }

          this.save_butt_class = 'button is-primary is-loading  nextButt'
          this.categories.forEach( category => {

            axios.post('/save_category',{
                category
            }).then(res => {
                    if(res.status == 200) {
                        this.categories.forEach(elem => {
                            this.old_categories.unshift(elem);
                        });
                        this.categories = [];
                    }
                    this.save_butt_class = 'button is-primary  nextButt';
                })
                .catch(err => {
                    // console.log(err);
                    this.save_butt_class = 'button is-primary  nextButt';
                });

          } );
      },

      editCategoryName(id){
        this.$dialog.prompt({
            message: this.$store.getters.lang.category,
            inputAttrs: {
                placeholder: 'Sport, Life, Culture...',
            },
            onConfirm: (value) => {
              axios.post('/edit-category',{
                category_id: id,
                name: value,
              })
              .then(res => {
                document.getElementById('cat-text-'+id).innerText = value;
              });
            }
        })
      },

      removeCategoryAndClose(value){
          let index = this.categories.indexOf(value);
          this.categories.splice(index,1);
      },

      removeCategoryFromDB(id){
        this.$dialog.confirm({
            title: this.$store.getters.lang.action_delete,
            message: this.$store.getters.lang.do_you_want_to_continue_this_action,
            confirmText: this.$store.getters.lang.delete,
            cancelText: this.$store.getters.lang.cancel,
            type: 'is-danger',
            hasIcon: false,
            onConfirm: () => {
              const loadingComponent = this.$loading.open()
              axios.post('/removecategory',{ category_id : id })
                .then(res => {
                    if(res.status == 200){
                        document.getElementById('cat'+id).style.display = 'none';
                        // let index = this.old_categories.indexOf(value);
                        // this.old_categories.splice(index,1);
                        loadingComponent.close();
                    }
                })
                .catch(err => {
                    // console.log(err);
                    loadingComponent.close();
                });
            }
          });
      }
  }
}
</script>
