<template lang="html">
  <div class="women_street_style">

    <dashboard>

        <div class="column is-9">

          <section class="hero is-primary is-medium is-bold welcome">
            <div class="hero-body">
              <div class="container" style="width: 100%;">
                <h1 class="title">
                  {{ $store.getters.lang.welcome }}
                </h1>
                <h2 class="subtitle">
                  {{ $store.getters.lang.message_to_admin }}
                </h2>

                <section class="info-tiles">
                  <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[0] }}</p>
                        <p class="subtitle"> {{ $store.getters.lang.users }} </p>
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[1] }}</p>
                        <p class="subtitle"> {{ $store.getters.lang.posts }} </p>
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[2] }}</p>
                        <p class="subtitle"> {{ $store.getters.lang.comments }} </p>
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <p class="title">{{ data[3] }}</p>
                        <p class="subtitle"> {{ $store.getters.lang.rates }} </p>
                      </article>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </section>
          
        </div>

    </dashboard>
  </div>
</template>

<script>
export default {
  data(){
    return {
      data: {}
    }
  },

  mounted(){
    this.getWebsiteInfo();
  },

  methods: {
    getWebsiteInfo(){
      axios.get('/get-website-info')
        .then(res => {
          this.data = res.data;
        })
        .catch(err => {
          //
        });
    }
  }
}
</script>
