<template lang="html">
  <div id="root">

    <dashboard>
      <div class="column is-9 dashboard-9-box special-box" dir="ltr">

            <div class="tab-title"> {{ $store.getters.lang.posts }} </div>
            <table dir="rtl" v-if="show_publications" class="table">

                <thead>
                    <tr>
                        <th> {{ $store.getters.lang.title }} </th>
                        <th> {{ $store.getters.lang.category }} </th>
                        <th> {{ $store.getters.lang.posted_at }} </th>
                        <th> # </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="publication in publications">

                        <td>
                          <a :href="'/publications'+publication.id+'/'+publication.title.replace(/[\/\\\s]/g,'-')">
                            {{ publication.title }}
                          </a>
                        </td>

                        <td>
                          {{ publication.category.category }}
                        </td>

                        <td>
                          {{ moment.utc(publication.created_at).fromNow() }}
                        </td>

                        <td>
                          <span @click="removePublication(publication.id)" class="button is-small is-dark">
                            <i class="fas fa-trash"></i>
                          </span>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div v-if="show_publications">
                <span ref="more_btn" @click="getAllPublications()" class="button is-dark"> {{ $store.getters.lang.show_more }} </span>
            </div>
            <div v-if="!show_publications">
                <span @click="show_publications = true;getAllPublications()" class="button is-default"> {{ $store.getters.lang.show_all }} </span>
            </div>

      </div>
    </dashboard>

  </div>
</template>

<script>
export default {

  data(){
    return {
      moment,
      show_publications: false,
      publications: [],
    }
  },

  mounted(){
     this.getAllPublications();
  },

  methods: {
    getAllPublications(){
      axios.get('/get_all_publications/'+this.publications.length)
      .then(res => {
        if(!res.data.length) this.$refs.more_btn.className += ' is-static';
        this.publications = this.publications.concat(res.data);
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
      });
    },

    removePublication(id){
      this.$dialog.confirm({
          title: this.$store.getters.lang.action_delete,
          message: this.$store.getters.lang.do_you_want_to_continue_this_action,
          confirmText: this.$store.getters.lang.delete,
          cancelText: this.$store.getters.lang.cancel,
          type: 'is-danger',
          hasIcon: false,
          onConfirm: () => {
            axios.post('/remove_publication/'+id)
            .then(res => {
              if(res.status == 200) {
                this.removeDeletedPublication(id);
                this.$toast.open({
                    duration: 5000,
                    message: this.$store.getters.lang.post_has_been_deleted,
                    position: 'is-bottom',
                    type: 'is-dark'
                })
              }
            })
            .catch(err => {

            });
          }
      })
    },

    removeDeletedPublication(id){
      let i = 0;
      for(i;i<this.publications.length;i++){
        if(this.publications[i].id == id){
            this.publications.splice(i,1);
        }
      }
    },
  }

}
</script>
