<template lang="html">
  <div id="root">

    <dashboard>
      <div class="column is-9 dashboard-9-box special-box" dir="ltr">

            <div class="tab-title"> {{ $store.getters.lang.posts }} </div>
            <table dir="rtl" v-if="show_questions" class="table">

                <thead>
                    <tr>
                        <th> {{ $store.getters.lang.title }} </th>
                        <th> {{ $store.getters.lang.category }} </th>
                        <th> {{ $store.getters.lang.posted_at }} </th>
                        <th> # </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="question in questions">

                        <td>
                          <a :href="'/questions'+question.id+'/'+question.title.replace(/[\/\\\s]/g,'-')">
                            {{ question.title }}
                          </a>
                        </td>

                        <td>
                          {{ question.category.category }}
                        </td>

                        <td>
                          {{ moment.utc(question.created_at).fromNow() }}
                        </td>

                        <td>
                          <span @click="removeQuestion(question.id)" class="button is-small is-dark">
                            <i class="fas fa-trash"></i>
                          </span>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div v-if="show_questions">
                <span ref="more_btn" @click="getAllQuestions()" class="button is-dark"> {{ $store.getters.lang.show_more }} </span>
            </div>
            <div v-if="!show_questions">
                <span @click="show_questions = true;getAllQuestions()" class="button is-default"> {{ $store.getters.lang.show_all }} </span>
            </div>

      </div>
    </dashboard>

  </div>
</template>

<script>
export default {

  data(){
    return {
      moment,
      show_questions: false,
      questions: [],
    }
  },

  mounted(){
    // this.getAllQuestions();
  },

  methods: {
    getAllQuestions(){
      axios.get('/get_all_questions/'+this.questions.length)
      .then(res => {
        if(!res.data.length) this.$refs.more_btn.className += ' is-static';
        this.questions = this.questions.concat(res.data);
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
      });
    },

    removeQuestion(id){
      this.$dialog.confirm({
          title: this.$store.getters.lang.action_delete,
          message: this.$store.getters.lang.do_you_want_to_continue_this_action,
          confirmText: this.$store.getters.lang.delete,
          cancelText: this.$store.getters.lang.cancel,
          type: 'is-danger',
          hasIcon: false,
          onConfirm: () => {
            axios.post('/remove_question/'+id)
            .then(res => {
              if(res.status == 200) {
                this.removeDeletedQuestion(id);
                this.$toast.open({
                    duration: 5000,
                    message: this.$store.getters.lang.post_has_been_deleted,
                    position: 'is-bottom',
                    type: 'is-dark'
                })
              }
            })
            .catch(err => {

            });
          }
      })
    },

    removeDeletedQuestion(id){
      let i = 0;
      for(i;i<this.questions.length;i++){
        if(this.questions[i].id == id){
            this.questions.splice(i,1);
        }
      }
    },
  }

}
</script>
