<template lang="html">
  <div id="root">

    <dashboard>
      <div class="column is-9 dashboard-9-box special-box" dir="ltr">

          <div class="tab-title"> {{ $store.getters.lang.users }} </div>

          <table v-if="show_users"class="table">

              <thead>
                  <tr>
                      <th> {{ $store.getters.lang.writer }} </th>
                      <th> {{ $store.getters.lang.joined }} </th>
                      <th> {{ $store.getters.lang.block }} </th>
                      <th> {{ $store.getters.lang.role }} </th>
                      <th> {{ $store.getters.lang.username }} </th>
                      <th> # </th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="user in users">
                      <td>
                        <span v-if="user.role == 2" :id="'wrt'+user.id" @click="makeAUser(user.id)" class="button is-info is-small">
                            {{ $store.getters.lang.writer }} <i class="fas fa-pencil p-l-5"></i>
                        </span>
                        <span v-if="user.role != 2" :id="'wrt'+user.id" @click="makeAWriter(user.id)" class="button is-light is-small">
                            {{ $store.getters.lang.user }} <i class="fas fa-user p-l-5"></i>
                        </span>
                      </td>
                      <td>
                        <span>
                          {{  this.moment.utc(user.created_at).fromNow() }} <i class="fas fa-clock p-l-5"></i>
                        </span>
                      </td>
                      <td>
                          <span v-if="user.is_active != 2" :id="user.id" @click="blockUser(user.id)" class="button is-dark is-small">
                              {{ $store.getters.lang.block }} <i class="fas fa-ban p-l-5"></i>
                          </span>
                          <span v-if="user.is_active == 2" :id="user.id" @click="unBlockUser(user.id)" class="button is-warning is-small">
                              {{ $store.getters.lang.blocked }} <i class="fas fa-times-circle p-l-5"></i>
                          </span>
                      </td>
                      <td>
                        <router-link to="">
                          <span @click="swithAccount(user.id,0)" :id="'user'+user.id" v-if="user.role == 1" class="button is-small is-warning"> {{ $store.getters.lang.admin }} <i class="fas fa-user-secret p-l-5"></i> </span>
                          <span @click="swithAccount(user.id,1)" :id="'user'+user.id" v-else class="button is-small is-light"> {{ $store.getters.lang.user }} <i class="fas fa-user-circle p-l-5"></i> </span>
                        </router-link>
                      </td>
                      <td>
                        <a :href="'/users/'+user.id+'/'+user.name.replace(/[\/\\\s]/g,'-')">
                          {{ user.name }}
                        </a>
                      </td>
                      <td>
                        <span>
                          {{ user.id }}
                        </span>
                      </td>
                  </tr>
              </tbody>

          </table>

          <div v-if="show_users && more_users_exists">
              <span @click="getUsers()" class="button is-default"> {{ $store.getters.lang.show_more }} </span>
          </div>

          <div v-if="!show_users">
              <span @click="show_users = true" class="button is-default"> {{ $store.getters.lang.show_all }} </span>
          </div>

      </div>
    </dashboard>

  </div>
</template>

<script>
export default {

  data(){
    return {
        users : [],
        more_users_exists: true,
        show_users: false,
    }
  },

  mounted(){
    this.getUsers();
  },

  methods: {
    getUsers(){
      axios.get('/get-users/'+this.users.length)
        .then(res => {
          if(!res.data.length) this.more_users_exists = false;
          else this.users = this.users.concat(res.data);
        });
    },

    makeAWriter(id){
      document.getElementById('wrt'+id).className += ' is-loading';
      axios.post('/make-a-writer/'+id)
        .then(res => {
          document.getElementById('wrt'+id).className = 'button is-small is-info';
          document.getElementById('wrt'+id).innerHTML = this.$store.getters.lang.writer+' <i class="fas fa-pencil p-l-5"></i>';
          this.changeUserProperty(id,'role',2);
        })
        .catch(err => {
          //
        });
    },

    makeAUser(id){
      document.getElementById('wrt'+id).className += ' is-loading';
      axios.post('/make-a-user/'+id)
        .then(res => {
          document.getElementById('wrt'+id).innerHTML = this.$store.getters.lang.user+' <i class="fas fa-user p-l-5"></i>';
          document.getElementById('wrt'+id).className = 'button is-small is-light';
          this.changeUserProperty(id,'role',0);
        })
        .catch(err => {
          //
        });
    },

    swithAccount(id,val){
      document.getElementById('user'+id).className += ' is-loading';
      if(val == 1){
        axios.post('/switch_user_role/'+id+'/'+val)
          .then(res => {
            if(res.status == 200){
              document.getElementById('user'+id).className = 'button is-small is-warning';
              document.getElementById('user'+id).innerHTML = this.$store.getters.lang.admin+' <i class="fas fa-user-secret p-l-5"></i>';
              this.changeUserProperty(id,'role',1);
            }
          })
          .catch(err => {
            //
          });
      }else{
        axios.post('/switch_user_role/'+id+'/'+val)
          .then(res => {
            if(res.status == 200){
              document.getElementById('user'+id).className = 'button is-small is-light';
              document.getElementById('user'+id).innerHTML = this.$store.getters.lang.user+' <i class="fas fa-user-circle p-l-5"></i>';
              this.changeUserProperty(id,'role',0);
            }
          })
          .catch(err => {
            //
          });
      }
    },

    // for example : change the role in the user object of id == 5
    // user_id: 5
    // property: Role
    // value: 1 --> admin
    changeUserProperty(user_id,property,value){

      this.users.forEach(user => {
        if(user.id == user_id){
          user[property] = value;
        }
      });

    },

    blockUser(user_id){
      document.getElementById(user_id).className += ' is-loading';
      axios.post('/block-user/'+user_id)
        .then(res => {
          if(res.data)
            document.getElementById(user_id).className = 'button is-warning is-small';
            document.getElementById(user_id).innerHTML = this.$store.getters.lang.blocked+' <i class="fas fa-times-circle p-l-5"></i>';
            this.changeUserProperty(user_id,'is_active',2);
        });
    },

    unBlockUser(user_id){
      document.getElementById(user_id).className += ' is-loading';
      axios.post('/unblock-user/'+user_id)
        .then(res => {
          if(res.data)
            document.getElementById(user_id).className = 'button is-dark is-small';
            document.getElementById(user_id).innerHTML = this.$store.getters.lang.block+' <i class="fas fa-ban p-l-5"></i>';
            this.changeUserProperty(user_id,'is_active',1);
        })
    }
  }

}
</script>

<style lang="css">
</style>
