/*

Welcome here, you want to change the theme colors, aren't you ?
please run the command: npm run watch, to see you changes on the browser.
and when you finish, run the command: npm run production. 

WARNING: ---------------------
if you are not a designer don't try to change anything in the new_style.scss file.
------------------------------

Feel free to email me if you face some problems.

Email: nouali.hamza.1998@gmail.com
Author: Hamza Nouali

*/

$primary : #fb9551;
$primary_font : #733f1d;
$font_color: #707070;
$success : #6cb583;
$danger : #fc5d5d;
@import "node_modules/bulma/bulma.sass";
@import "~buefy/lib/buefy.css";
@import "node_modules/Dubai-webfonts/fontFace";

$gradient-back : #00b09b;
$gradient-back : -webkit-linear-gradient(to right, #96c93d, #00b09b);
$gradient-back : linear-gradient(to right, #96c93d, #00b09b);


@import "./new_style";
