/*

WARNING: ---------------------
if you are not a designer don't try to change anything in the new_style.scss file.
------------------------------

Feel free to email me if you face some problems.

Email: nouali.hamza.1998@gmail.com
Author: Hamza Nouali

*/

#nprogress .bar {
  background: $primary !important;
}

#nprogress .peg {
  box-shadow: none !important;
}

#logo {
  cursor: pointer;
}

.container {
  padding: 0px 10px;
}

textarea,input {
  border: 1px solid #eee;
  padding: 15px;
  font-size: 15px;
  color : $font_color;
  width: 100%;
}

textarea {
  text-align: right;
  resize: vertical;
}

select {
  height: 49px !important;
  border-radius: 1px !important;
  border-color: #ececec !important;
}

select:focus {
  box-shadow: none !important;
}

.help-block.no-js-alert {
  margin-top: 100px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
  text-align: center;
}

.notices {
  bottom: 25px !important;
}

.logo-container {
  margin-top: 80px;
}

.fixed-language-dropdown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  i {
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    color: $font_color;
    border: 1px solid $font_color;
    font-size: 22px;
    cursor: pointer;
  }
}

.snackbar {
  // direction: rtl;
  background: #fff !important;
  color: $font_color !important;
  font-weight: bold;
  border: 1px solid $font_color !important;
  box-shadow: 4px 3px !important;
  .action {
    // margin-left: 0px !important;
    button {
      background: $font_color !important;
      color: #fff !important;
    }
  }
}

.update-quill-content {
  .modal-card {
    height: 100%;
  }
  .label {
    margin: 25px 11px;
  }
  .ql-editor {
    padding: 15px !important;
  }
}

.help-block {
  padding: 10px;
  text-align: right;
  margin-top: 10px;
  background: $danger;
  border: 1px solid darken($danger,40%);
  strong {
    color: #fff;
  }
}

.help-block.is-success {
  padding: 10px;
  text-align: right;
  margin-top: 10px;
  background: $danger;
  border: 1px solid darken($success,40%);
  color: darken($success,40%);
  font-weight: bold;
  strong {
    color: #fff;
  }
  background-color: $success;
  border-radius: 0px;
}

#login {
  background: #fff;
  .myloginBTN {
    border-radius: 50px;
    font-size: 17px;
    color: $primary_font;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    margin-top: 25px;
  }
  .button-field {
    text-align: center;
  }
  input {
    width: 100%;
    text-align: right;
    direction: rtl;
    color: $font_color;
  }
  form {
    text-align: right;
    font-size: 17px;
    color: $font_color;
    border: 1px solid #eee;
    padding: 50px;
  }
  div.label{
    font-weight: bold;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    color: $font_color;
  }
  h3 {
    text-align: center;
  }
  h1 {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
}

// colors palette
.colors-page .myloginBTN {
  margin: 0px !important;
  width: 100% !important;
  height: 70px !important;
  border-radius: 3px !important;
}

.exampleText {
  height: 15px;
  background: #dad8d8;
  margin: auto;
  margin-bottom: 12px;
  border-radius: 50px;
}
.width100 {
  width: 100%;
}

.width75 {
  width: 75%;
}
.width55 {
  width: 55%;
}

.float-left {
  float: left;
}
.float-right{
  float: right;
}

body {
  background: #fff;
}

/* All the styling for women street them */

.women_street_style {
  direction: rtl;
  background: #fff;
  .navbar-top {
    .back-home-page {
      float: left !important;
      position: absolute;
      padding-top: 6px;
    }
    ul {
      float: right;
      li {
        display: inline;
        margin-left: 10px;
        float: right;
        span {
          margin: 4px;
          float: right;
        }
      }
    }
    a {
      color:#4a4a4a;
    }
    a:hover {
      opacity: 0.7;
    }
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    // height: 50px;
    background: #fff;
    z-index: 10;
    box-shadow: 5px 5px rgba(238, 238, 238, 0.30196078431372547);
    border-bottom: 1px solid #ececec;
    line-height: 47px;
    font-size: 15px;
    span {
      margin: 10px;
    }
  }

  .ws-div {
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    h1 {
      font-size: 23px;
    }
    .header {
      color:#cfcfcf;
      font-size: 17px;
      .user {
        color: $font_color;
      }
      span.user {
        margin: 10px;
      }
      .profile-photo img{
        border-radius: 100px;
        width: 55px;
        height: 55px;
        margin-bottom: -22px;
      }
    }

    .comment {
      .header {
        margin-bottom: 50px !important;
      }
    }

    .body {
      margin-top: 34px;
      margin-bottom: 34px;
      font-weight: bold;
      font-size: 23px;
      color: $font_color;
      a {
        color: $font_color;
      }
    }

    .content {
      a {
        color: #0000cd;
      }
      border: 1px solid #eee;
      padding: 18px;
      background: #fafafa;
      margin: 25px 0px;
      .ql-tooltip.ql-hidden {
        height: 0px;
      }
      .ql-container {
        padding: 0px;
        font-family: inherit;
        font-size: inherit;
      }
      .ql-editor {
        padding: inherit;
        margin: inherit;
        line-height: inherit;
        font-size: inherit;
        font-family: inherit;
        text-align: inherit;
      }
    }
    .add-reply {
      margin: 25px;
      color: $font_color;
      cursor: pointer;
    }
    .like-dislike {
      text-align: left;
      i:hover {
        cursor: pointer;
      }
      i {
        background: $primary;
        border: 3px solid $primary;
        padding: 6px;
        border-radius: 50px;
        color: $primary_font;
        font-size: 17px;
      }
      i:active {
        background: #eee;
        border-color: #eee;
        transition: 0.2s;
      }
      .fa-thumbs-down {
        transform: rotate(-9deg);
      }
      span {
        margin-left: 5px;
        font-size: 17px;
        color: $font_color;
      }
    }

    .after-body {
      .in {
        color: $font_color;
        font-size: 14px;
        text-decoration: underline;
        margin-left: 10px;
      }

      .category {
        color: $font_color;
        background: #f1f1f1;
        border:none;
        font-size: 14px;
        border-radius: 50px;
        padding: 2px 9px;
      }
    }

    .footer {
      color: $font_color;
      font-size: 15px;
      text-align: right;
      margin-top: 15px;
      padding: 0px;
      background: none;
    }

  }

  .join-box {
    border: 1px solid #ececec;
    padding: 20px;
    color: $font_color;
    font-size: 23px;
    line-height: 37px;
    text-align: center;
    padding-bottom: 44px;
    padding-top: 21px;
    p {
      text-align: center;
      margin-bottom: 13px;
      overflow: hidden;
    }
    .button {
      border-radius: 50px;
      color: $primary_font;
      background: $primary;
      font-size: 17px;
      font-weight: bold;
    }
  }

  .side-articles {
    li {
      overflow: hidden;
    }
    a {
      color: $font_color;
    }
    .title {
      color: $font_color;
      font-weight: bold;
      font-size: 17px;
      border-bottom: 1px solid #eee;
      text-align: right;
      padding: 25px 0px;
      margin-bottom: 0px;
    }
    .body {
      li {
        display: block;
        font-size: 17px;
        text-align: right;
        color: $font_color;
        background: #fafafa;
        margin: 25px 0px;
        border: 1px solid #eee;
        padding: 14px;
      }

      // li:last-child {
      //   border:none;
      // }
    }
  }

  .special-box {
    border: 1px solid #eee;
    margin-top: 28px;
    .title {
      padding-right: 29px;
      color: #8e8e8e;
      cursor: pointer;
    }
    .title:hover {
      opacity: 0.9;
    }
    .title:last-child {
      border:none;
    }
  }

  .comments-divider {
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 15px 0px;
    color: $font_color;
  }

  .replies {
    padding-right: 25px;
    margin-right: 10px;
    border-right: 1px solid #eee;
    .ws-div {
      border: none;
    }
  }

  .comment.ws-div {
    border: none;
  }

  .profile-photo1 {
    text-align: center;
    div {
      width: 163px;
      height: 163px;
      margin: auto;
      border: 9px solid #f2f2f2;
      border-radius: 100px;padding: -4px;
    }
    img {
      width: 163px;
      height: 146px;
      border-radius: 100px;
    }
  }

  .account-info-box {
    div {
      text-align: center;
      background: none;
      margin: 0px;
    }
    .column {
      border-left: 1px solid #eee;
      padding: 25px;
    }
    .column:last-child {
      border:none;
      border-radius: 1px solid #eee;
    }
  }

  .category-box {
    padding: 37px 10px;
    .title {
      text-align: center;
      font-size:  17px;
      font-weight:  bold;
      color:  $font_color;
      margin-bottom: 19px;
      padding: 0px;
    }
    .button-div {
      text-align:  center;
      button {
        border-radius: 50px;
        font-weight:  bold;
        color: $font_color;
      }
      button.is-primary {
        background-color: $primary;
        color: $primary_font;
      }
    }
  }

  .in-category-page.category-box {
    margin-top: 0px;
  }


  .wait-loading.ws-div {
    .404-page {
      p {
        font-size: 60px !important;
      }
    }
    .user {
      color: #eee;
      background: #eee;
      border-radius: 3px;
    }
    .time {
      background: #eee;
      color: #eee;
      border-radius: 3px;
    }
    .content {
      background: #eee;
    }
    .category {
      color: #eee;
      background: #eee;
      border-radius: 3px;
    }
    .body {
      margin-top: 34px;
      margin-bottom: 34px;
      color: #eee;
      background: #eee;
      width: 60%;
      height: 25px;
      border-radius: 3px;
    }
    .after-body .category {
      color: #eee;
    }
    .add-reply {
      display: none;
    }
    .like-dislike span {
      background: #eee;
      border-radius: 3px;
      padding-right: 31px;
      margin-left: 11px;
      color: #eee;
    }
  }

  .chain-loading {
    border: none;
  }

  .write-somthing {
    border: 1px solid $font_color;
    box-shadow: 5px 5px $font_color;
    margin-top: 25px;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 50px;
    div.label {
      margin-bottom: 25px;
    }
    div {
      width: 100%;
    }
    .ql-toolbar.ql-snow {
      text-align: center;
      border: 1px solid #eee;
    }
    .ql-tooltip.ql-editing{
      width: 306px;
    }
    .ql-container.ql-snow {
      border: 1px solid #eee;
      border-top: none;
    }
    .ql-editor {
      font-size: 17px;
      color: $font_color;
      font-family: Dubai Regular;
      line-height: 37px;
    }
    .columns.is-multiline {
      margin: 0px;
      .first {
        height: 100%;
      }
    }
    .post-comment-button {
      margin-top: 25px;
    }
  }

  .write-post {
    border: none;
    box-shadow: none;
  }

  .content.posting-rules {
    line-height: 30px;
    padding: 20px;
    font-size: 15px;
    margin: 0px;
    background: none;
    ul, li {
      padding: 0px;
    }
  }

  .is-3 .posting-rules {
    border:none;
  }

  .categories-page {
    .label {
      padding: 25px 10px;
      border-bottom: 1px solid #ececec;
      a {
        color: $font_color;
      }
    }
  }

  .tab {
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid #ececec;
    color: $font_color;
    // font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }

  .tab.checked {
    background: $primary;
    color: #fff;
    border:2px solid $primary;
  }

  span.example {
    background: #ececec;
    color: #ececec;
    border-radius: 3px;
  }

  .notifications {
    .text {
      margin: 2px;
      border-radius:  3px;
      padding: 0px 4px;
      background: $danger;
      font-weight: bold;
      color: #fff;
    }
  }

  .login-user {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .notif.label {
    font-weight: 500;
    p {
      font-size: 19px;
    }
  }

  .show-more-div {
    margin: 25px 0px;
    button {
      background: none;
      color: $font_color;
      border-radius: 3px;
      padding: 5px 13px;
      border: 2px solid #eee;
      cursor: pointer;
    }
  }

  span.select::after {
    display: none;
  }

  span.select::before {
    border: 1px solid #fb9551;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    left: 1.125em;
    top: 68%;
    z-index: 4;
  }

  .dashboard-9-box {
    padding: 25px;
    text-align: center;
    .write-somthing {
      padding: 0px;
      margin-bottom: 25px;
    }
    .tab-title {
      font-size: 23px;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #ececec;
    }
    table {
      width: 100%;
    }
    .tags-container div {
      margin-left: 5px;
      display: inline;
    }
    .tags-container {
      text-align: right;
    }
    .save-button-div{
      width: 100%;
      text-align: left;
      margin-bottom: 25px;
    }
  }

  .cursor-pointer {
    cursor:pointer;
  }

  .ql-editor {
    blockquote {
      background-color: #ececec;
      padding: 6px 12px !important;
      border: none;
    }
    blockquote::before, blockquote::after {
      content: '\f10e';
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      padding: 10px;
    }
    blockquote::before {
      content: '\f10e';
    }
    blockquote::after {
      content: '\f10d';
    }
  }

  .infinite-status-prompt {
    display: none;
  }

  .no-more-result-msg {
    padding: 25px;
    text-align: center;
    font-size: 15px;
    color: $font_color;
  }

  article.tile.is-child.box p {
    color: $font_color;
  }

  .comments-dashboard {
    text-align: right;
    direction: rtl;
    .label {
      padding:15px 0px;
    }
    .ws-div {
      border-bottom: 1px solid #eee;
    }
  }

  .publications-toolbar {
    margin-top: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    input{
      width: 68%;
      height: 20px;
      margin-right: 6px;
      border: 2px solid #eee;
      border-radius:  3px;
      padding: 14px;
    }
    .current-tab {
      border: 2px solid #eee;
      border-right: none;
      border-radius:  3px;
      margin-right: -8px;
      font-size: 16px;
      padding: 2px 15px 3px 7px;
      color: $font_color;
    }
    .my-button, button {
      padding: 6px;
      border: 2px solid #eee;
      border-radius: 3px;
      color: $font_color;
      cursor:  pointer;
    }
    button {
      font-size: 16px;
      padding: 0px;
      border: none;
      background: none;
    }
  }

  .dropdown-menu {
    direction: rtl;
    text-align: right;
    right: 0px;
    box-shadow: rgb(246, 246, 246) 0px 4px 7px 2px;
    margin-top: 15px;
    padding: 0px;
    .dropdown-content {
      border-radius: 0px;
      box-shadow: none;
      border: 1px solid #eeee;
      color: $font_color;
      padding: 0;
      i {
        padding-left: 10px;
      }
      a {
        padding: 15px;
        border-bottom: 1px solid #eee;
      }
      a:last-child {
        border-bottom: none;
      }
    }
  }

  .sideColumn1 {
    .side-articles:first-child {
      .title {
        padding-top: 11px;
      }
    }
  }

}

.modal-card {
  direction: rtl;
  text-align: right;
}

.modal-card-head, .modal-card-foot {
  background: #fff ;
  border-color: #eee;
}

.update-quill-content a {
  color: lighten(#000,20%);
  font-size: 14px;
  margin: 0px 12px;
  text-decoration: underline;
}

.media-content {
  direction: rtl;
  text-align: right;
}

.footer {
  padding: 15px;
  font-size: 14px;
  text-align: center;
}

/* Quill Arabic */
.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: -0.5em !important;
}
.ql-snow .ql-tooltip[data-mode=link]::before {
  content: " أدخل رابط " !important;
  padding: 13px;
    font-family: Dubai Regular;
    font-weight: bold;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    content: 'حفظ' !important;
    padding-right: 9px;
    font-family: Dubai Regular;
    font-weight: bold;
}
.ql-snow .ql-picker.ql-header {
  font-family: Dubai Regular;
  font-weight: bold;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: ' حجم الخط ' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
    content: ' كبير 1 ' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
    content: ' كبير 2 ' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: ' حجم عادي ' !important;
}
/* ------------ */


// LTR class ( left to right style )
.ltr_style {
  direction: ltr;
  text-align: left;

  .replies {
    border-right: 0px;
    padding-left: 25px;
    margin-left: 10px;
    border-left: 1px solid #eee;
  }

  .dashboard {
    .is-10 {
      .columns {
        direction: ltr;
        .is-9 {
          margin-top: 0px;
        }
      }
    }
  }

  #login {
    input {
      text-align: left;
      direction: ltr;
    }
    form {
      text-align: left;
    }
    div.label{
      text-align: left;
    }
  }

  .help-block {
    text-align: left;
    direction: ltr;
  }

  .navbar-top {
    .back-home-page {
      i::before {
        content : '\f060';
      }
    }
    ul {
      li {
        span {
          float: left;
        }
      }
    }
  }

  .publications-toolbar {
    .my-button {
      margin-left: 5px;
    }
    .dropdown {
      .my-button {
        margin-left: 0px;
      }
    }
    .dropdown-content {
      direction: ltr;
      text-align: left;
      i {
        padding-left: 0px;
        padding-right: 10px;
      }
    }
  }

  .side-articles .body li {
    direction: ltr;
    text-align: left;
  }

  .special-box .title {
    padding-left: 29px;
    text-align: left;
    direction: ltr;
  }

  .category-box .title {
    text-align: center;
    padding-left: 0px;
  }

  .comment .header {
    line-height: 42px;
  }
  
  .ws-div {
    .header{
      a {
        float: left;
      }
      img {
        float: left;
        margin-top: -4px;
      }
    }
    .footer {
      text-align: left;
      .like-dislike {
        span {
          margin-right: 11px;
          line-height: 37px;
        }
        i {
          float: right;
        }
        text-align: right;
      }
    }
  }

  div.side-articles .title {
    text-align: left;
    direction: ltr;
  }

  .label {
    text-align: left;
    direction: ltr;
  }

  textarea, input , select {
    text-align: left;
    direction: ltr;
  }

  span.select::after {
    display: block;
  }

  span.select::before {
    display: none;
  }

  .post-comment-button {
    text-align: right;
  }

  .account-info-box.special-box {
    direction: rtl;
  }

  .ql-snow .ql-tooltip[data-mode=link]::before {
    content: " add link " !important;
    padding: 13px;
      font-family: Dubai Regular;
      font-weight: bold;
  }
  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
      content: 'save' !important;
      padding-right: 9px;
      font-family: Dubai Regular;
      font-weight: bold;
  }
  .ql-snow .ql-picker.ql-header {
    font-family: Dubai Regular;
    font-weight: bold;
  }

  .modal.animation-content {
    text-align: left !important;
    direction: ltr !important;
    .media-content {
      text-align: left !important;
      direction: ltr !important;
    }
  }

  .ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
      content: ' Size ' !important;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
      content: ' Very big ' !important;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
      content: ' Big ' !important;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
      content: ' Normal ' !important;
  }

}

.button.is-primary:hover {
  background: $primary;
  color: $primary_font;
}

.button.is-primary{
  font-weight: bold;
  color: $primary_font;
}


/*
  THIS IS THE GENERATED FILE THAT IS PRODUCED USING THE SIMPLE LOOP SHOWN ABOVE
*/
.txt-center {
  text-align: center;
}

.is-rounded {
  border-radius: 100px;
}

.radius-0 {
  border-radius: 0px;
}

.radius-3 {
  border-radius: 3px;
}

.txt-right {
  text-align: right;
}

.m-t-0 {
  margin-top: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-t-0 {
  padding-top:0px;
}

.p-l-0 {
  padding-left: 0px;
}
.p-l-2 {
  padding-left: 2px;
}
.p-r-0 {
  padding-right: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-5 {
  padding: 5px;
}

.m-5{
  margin: 5px;
}

.p-0 {
  padding: 0px;
}

.m-0 {
  margin: 0px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-30 {
  margin: 30px;
}

.m-20 {
  margin: 20px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-t-5 {
    margin-top: 5px; }

  .p-t-5 {
    padding-top: 5px; }

  .m-b-5 {
    margin-bottom: 5px; }

  .p-b-5 {
    padding-bottom: 5px; }

  .m-l-5 {
    margin-left: 5px; }

  .p-l-5 {
    padding-left: 5px; }

  .m-r-5 {
    margin-right: 5px; }

  .p-r-5 {
    padding-right: 5px; }

  .m-t-10 {
    margin-top: 10px; }

  .p-t-10 {
    padding-top: 10px; }

  .m-b-10 {
    margin-bottom: 10px; }

  .p-b-10 {
    padding-bottom: 10px; }

  .m-l-10 {
    margin-left: 10px; }

  .p-l-10 {
    padding-left: 10px; }

  .m-r-10 {
    margin-right: 10px; }

  .p-r-10 {
    padding-right: 10px; }

  .m-t-15 {
    margin-top: 15px; }

  .p-t-15 {
    padding-top: 15px; }

  .m-b-15 {
    margin-bottom: 15px; }

  .p-b-15 {
    padding-bottom: 15px; }

  .m-l-15 {
    margin-left: 15px; }

  .p-l-15 {
    padding-left: 15px; }

  .m-r-15 {
    margin-right: 15px; }

  .p-r-15 {
    padding-right: 15px; }

  .m-t-20 {
    margin-top: 20px; }

  .p-t-20 {
    padding-top: 20px; }

  .m-b-20 {
    margin-bottom: 20px; }

  .p-b-20 {
    padding-bottom: 20px; }

  .m-l-20 {
    margin-left: 20px; }

  .p-l-20 {
    padding-left: 20px; }

  .m-r-20 {
    margin-right: 20px; }

  .p-r-20 {
    padding-right: 20px; }

  .m-t-25 {
    margin-top: 25px; }

  .p-t-25 {
    padding-top: 25px; }

  .m-b-25 {
    margin-bottom: 25px; }

  .p-b-25 {
    padding-bottom: 25px; }

  .m-l-25 {
    margin-left: 25px; }

  .p-l-25 {
    padding-left: 25px; }

  .m-r-25 {
    margin-right: 25px; }

  .p-r-25 {
    padding-right: 25px; }

  .m-t-30 {
    margin-top: 30px; }

  .p-t-30 {
    padding-top: 30px; }

  .m-b-30 {
    margin-bottom: 30px; }

  .p-b-30 {
    padding-bottom: 30px; }

  .m-l-30 {
    margin-left: 30px; }

  .p-l-30 {
    padding-left: 30px; }

  .m-r-30 {
    margin-right: 30px; }

  .p-r-30 {
    padding-right: 30px; }

  .m-t-35 {
    margin-top: 35px; }

  .p-t-35 {
    padding-top: 35px; }

  .m-b-35 {
    margin-bottom: 35px; }

  .p-b-35 {
    padding-bottom: 35px; }

  .m-l-35 {
    margin-left: 35px; }

  .p-l-35 {
    padding-left: 35px; }

  .m-r-35 {
    margin-right: 35px; }

  .p-r-35 {
    padding-right: 35px; }

  .m-t-40 {
    margin-top: 40px; }

  .p-t-40 {
    padding-top: 40px; }

  .m-b-40 {
    margin-bottom: 40px; }

  .p-b-40 {
    padding-bottom: 40px; }

  .m-l-40 {
    margin-left: 40px; }

  .p-l-40 {
    padding-left: 40px; }

  .m-r-40 {
    margin-right: 40px; }

  .p-r-40 {
    padding-right: 40px; }

  .m-t-45 {
    margin-top: 45px; }

  .p-t-45 {
    padding-top: 45px; }

  .m-b-45 {
    margin-bottom: 45px; }

  .p-b-45 {
    padding-bottom: 45px; }

  .m-l-45 {
    margin-left: 45px; }

  .p-l-45 {
    padding-left: 45px; }

  .m-r-45 {
    margin-right: 45px; }

  .p-r-45 {
    padding-right: 45px; }

  .m-t-50 {
    margin-top: 50px; }

  .m-t-60 {
    margin-top: 60px;
  }

  .p-t-50 {
    padding-top: 50px; }

  .m-b-50 {
    margin-bottom: 50px; }

  .p-b-50 {
    padding-bottom: 50px; }

  .m-l-50 {
    margin-left: 50px; }

  .p-l-50 {
    padding-left: 50px; }

  .m-r-50 {
    margin-right: 50px; }

  .p-r-50 {
    padding-right: 50px; }
