<template>
    <div ref="template" class="dashboard women_street_style" dir="rtl">
      <navbar></navbar>
      <br><br>
      <br><br>
      <br><br>

      <div class="container">
        <div class="columns">
          <div class="column is-1">

          </div>
          <div class="column is-10">

            <div class="columns">
              <div class="column is-3">
                <aside class="menu">
                  <p class="menu-label">
                    {{ $store.getters.lang.all }}
                  </p>
                  <ul class="menu-list">
                    <li id="dashboard"><router-link :to="{ name : 'dashboard' }"> {{ $store.getters.lang.home_page }} </router-link></li>
                    <li id="users"><router-link :to="{ name :'users' }"> {{ $store.getters.lang.users }} </router-link></li>
                  </ul>
                  <p class="menu-label">
                    {{ $store.getters.lang.categories }}
                  </p>
                  <ul class="menu-list">
                    <li id="createCategories"><router-link :to="{ name : 'createCategories' }"> {{ $store.getters.lang.edit }} </router-link></li>
                  </ul>
                  <p class="menu-label">
                    {{ $store.getters.lang.posts }}
                  </p>
                  <ul class="menu-list">
                    <li id="dashQuestions"><router-link :to="{ name: 'dashQuestions' }"> {{ $store.getters.lang.posts }} </router-link></li>
                    <li id="dashComments"><router-link :to="{ name: 'dashComments' }">  {{ $store.getters.lang.comments }} </router-link></li>
                    <!-- <li><a>  </a></li> -->
                  </ul>
                  <p class="menu-label">
                    {{ $store.getters.lang.website_info }}
                  </p>
                  <ul class="menu-list">
                    <li id="privacy"><router-link :to="{ name: 'privacy' }"> {{ $store.getters.lang.privacy }} </router-link></li>
                    <li id="pRules"><router-link :to="{ name: 'pRules' }">  {{ $store.getters.lang.posting_rules }} </router-link></li>
                    <li><a href="/installer">  {{ $store.getters.lang.installer }} </a></li>
                  </ul>
                </aside>
              </div>
              <slot></slot>
            </div>

          </div>
          <div class="column is-1">

          </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  data(){
    return {

    }
  },

  mounted(){
    document.getElementById(this.$route.name).children[0].className += ' is-active'
  }
}

</script>
