<template lang="html">
  <div id="root">

    <dashboard>
      <div class="column is-9 dashboard-9-box special-box" dir="ltr">

          <div class="tab-title"> {{ $store.getters.lang.posting_rules }} </div>

          <div class="write-post write-somthing">
            <div ref="QuillArea">
            </div>
          </div>

          <div>
            <button @click="updatePostingRules()" class="button is-primary"> {{ $store.getters.lang.update }} </button>
          </div>

      </div>
    </dashboard>
  </div>
</template>

<script>
export default {

  data(){
    return {
      quill: null
    }
  },
  mounted(){
    this.quill = new Quill(this.$refs.QuillArea, {
      modules: {
        toolbar: window.quill_tollbar
      },
      theme: 'snow',
      formats: window.quill_formats
    });
    this.getData();
  },

  methods: {
    updatePostingRules(){
      axios.post('/update-posting-rules',{
        content: JSON.stringify(this.quill.getContents())
      });
    },
    getData(){
      axios.get('/get-posting-rules')
        .then(res => {
          this.quill.setContents(JSON.parse(res.data.posting_rules));
        });
    },
  }

}
</script>
