<template lang="html">
  <div id="root">

    <dashboard>
      <div class="column is-9 dashboard-9-box special-box" dir="ltr">

          <div class="tab-title"> {{ $store.getters.lang.privacy }} </div>

          <div class="write-post write-somthing">
            <div ref="QuillArea">
            </div>
          </div>

          <div>
            <button @click="updateInstructionsOfUse()" class="button is-primary"> {{ $store.getters.lang.update }} </button>
          </div>

      </div>
    </dashboard>
  </div>
</template>

<script>
export default {

  data(){
    return {
      quill: null,
    }
  },
  mounted(){

    this.quill = new Quill(this.$refs.QuillArea, {
      modules: {
        syntax: window.syntax,
        toolbar: window.quill_tollbar
      },
      theme: 'snow',
      formats: window.quill_formats
    });

    this.getData();
    NProgress.done();

  },

  methods: {
    updateInstructionsOfUse(){
      axios.post('/update-instructions-of-use',{
        content: JSON.stringify(this.quill.getContents())
      });
    },
    getData(){
      axios.get('/get-instructions-of-use')
        .then(res => {
          this.quill.setContents(JSON.parse(res.data.instructions_of_use));
        });
    }
  }

}
</script>

<style lang="css">
/* .ql-editor{
  resize: none !important;
} */
</style>
