<template lang="html">

  <div class="root full-replies-page-root">
    <router-link :to="{ name: 'showPublication', params: { id: $route.params.id, title: $route.params.title } }">
    <h3 class="p-r-15 p-l-15 p-t-15" dir="rtl">
      {{ $route.params.title.replace(/\-/g,' ') }}
    </h3>
    </router-link>
    <hr>
    <br>
    <div class="container">
      <div class="container">
        <div class="columns">
          <div class="column is-1"></div>
          <div class="column">

            <!--  -->
            <div class="columns">
              <div class="column">

                <f-reply v-if="update" :counter="-1" :publicationId="$route.params.id" :commentId="$route.params.commentid" :publication_title="$route.params.title"></f-reply>


              </div>
            </div>
          </div>
          <div class="column is-1"></div>
        </div>
      </div>
    </div>

    <div v-if="false" class="container publications-container show-publication-container" dir="rtl">
      <div class="columns is-mobile is-multiline">
        <div class="column is-12 chain">

          <f-reply v-if="update" :counter="-1" :publicationId="$route.params.id" :commentId="$route.params.commentid" :publication_title="$route.params.title"></f-reply>

        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  data(){
    return {
        update: true
    }
  },
  beforeUpdate(){
    this.update = false;
    setTimeout(()=>{
      this.update = true;
    },5);
  }

}
</script>
