<template lang="html">
  <div class="root">

      <navbar></navbar>

      <br>
      <div class="container">
        <div class="container">
      		<div class="columns">
      			<div class="column is-1"></div>
      			<div class="column is-10">

              <!--  -->
              <div class="columns">
                <div class="column is-9">

                  <div class="write-post write-somthing">
                    <div class="label">
                      {{ $store.getters.lang.title }}
                    </div>
                    <div>
                      <input placeholder="..." type="text" v-model="title">
                    </div>

                    <div class="label">
                    </div>
                    <div class="label">
                      {{ $store.getters.lang.category }}:
                    </div>

                    <!-- category -->
                    <b-field>
                        <b-select v-model="selected_category" :placeholder="$store.getters.lang.category" expanded>
                            <option v-for="cat in followed_categories" :value="cat.id">{{ cat.category }}</option>
                        </b-select>
                    </b-field>

                    <div class="label">
                    </div>
                    <div class="label">
                      <label> {{ $store.getters.lang.text }}: </label>
                    </div>
                    <div class="first">
                      <div ref="QuillArea"></div>
                    </div>

                    <div class="post-comment-button">
                      <button class="button is-primary" ref="submitBTN" @click="sendToDB();"> {{ $store.getters.lang.post }} </button>
                    </div>
                  </div>

                </div>
                <div class="column is-3">

                  <div class="ws-div special-box">
                    <div class="content posting-rules">
                      <Quill-bubble-show :topic="rules"></Quill-bubble-show>
                    </div>
                  </div>

                  <privacy-contact></privacy-contact>

                </div>
              </div>
              <!--  -->

      			</div>
      			<div class="column is-1"></div>
      		</div>
      	</div>
      </div>

  </div>
</template>

<script>

var quill;
var quill_1;
export default {

  data(){
    return {
        title: '',
        followed_categories: [],
        selected_category: null,
        quill,
        rules : null
    }
  },

  mounted(){

    this.getCategories();

    // hljs.initHighlightingOnLoad();
    quill = new Quill(this.$refs.QuillArea, {
      modules: {
        syntax: window.syntax,
        toolbar: window.quill_tollbar,
      },
      theme: 'snow',
      formats : window.quill_formats
    });
    this.quill = quill;
    this.getData();
  },

  methods : {

    getCategories(){
      axios.get('/get_old_categories')
        .then(res => {
            if(res.status == 200){
              this.followed_categories = res.data;
            }
            NProgress.done();
        })
        .catch(err => {

        });
    },

    getData(){
      axios.get('/get-posting-rules')
        .then(res => {
          this.rules = res.data.posting_rules;
          // console.log(JSON.parse(res.data.instructions_of_use));
          // this.quill.setContents(res.data);
        });
    },
    sendToDB(){

      if(quill.getText().length < 2){
        quill.setText(this.title);
      }

      this.$dialog.confirm({
          title: this.$store.getters.lang.post,
          message: this.$store.getters.lang.do_you_want_to_continue_this_action,
          confirmText: this.$store.getters.lang.post,
          cancelText: this.$store.getters.lang.cancel,
          type: 'is-primary',
          hasIcon: false,
          onConfirm: () => {
            this.$refs.submitBTN.className='button is-primary m-t-60 is-loading';
            axios.post('/post_a_publication',{
              title : this.title,
              category_id : this.selected_category,
              topic: JSON.stringify(quill.getContents()),
              topic_text: quill.getText()
            }).then(res => {
                this.$router.push('/publications/'+res.data+'/'+this.title.replace(/[\/\\\s]/g,'-'));
              })
              .catch(err => {
                this.$refs.submitBTN.className='button is-primary m-t-60';
                this.$snackbar.open({
                    message: this.$store.getters.lang.be_sure_to_fill_all_inputs,
                    type: 'is-danger',
                    position: 'is-bottom',
                    actionText: this.$store.getters.lang.close,
                    indefinite: true,
                    onAction: () => {

                    }
                });
              });
          }
      })
    },
  }

}
</script>
