<template lang="html">
  <div>

    <div class="publications-toolbar">
      <b-dropdown>
        <button slot="trigger">
            <i class="my-button fas fa-th"></i>
        </button>

        <b-dropdown-item @click="filter('common',$store.getters.lang.common)"> <i class="fas fa-fire"></i> {{ $store.getters.lang.common }} </b-dropdown-item>
        <b-dropdown-item @click="filter('best-of-day',$store.getters.lang.best_of_day)"> <i class="fas fa-trophy"></i> {{ $store.getters.lang.best_of_day }} </b-dropdown-item>
        <b-dropdown-item @click="filter('best-of-all',$store.getters.lang.best_of_all)"> <i class="fas fa-star"></i> {{ $store.getters.lang.best_of_all }} </b-dropdown-item>
      </b-dropdown>

      <i @click="search()" class="my-button fas fa-search m-r-5"></i>
      <span ref="currentTab" class="m-r-10"> {{ $store.getters.lang.new }}  </span>
      <input
        ref="search"
        @keyup.enter="search()"
        type="search"
        placeholder="..."
        style="display:none"
        autofocus
      />
    </div>

        <!-- loading div  -->
        <div v-if="!publications.length && !no_more_data" class="wait-loading ws-div m-b-50">
          <div class="header">
            <span class="user"> example </span>
            <span class="time"> example </span>
          </div>
          <div class="body">
            <!-- empty -->
          </div>
          <p class="content">
            .
          </p>
          <div class="after-body">
            <!-- <span class="in"> في </span> -->
            <span class="category"> #example</span>
          </div>
          <div class="footer columns">
            <div class="column">
              <span class="comments"></span>
            </div>
            <div class="column like-dislike m-b-15">
              <span> 152 </span>
              <i class="far fa-thumbs-up m-l-5"></i>
              <i class="far fa-thumbs-down"></i>
            </div>
          </div>
        </div>

        <!-- contains publications -->
        <div v-if="publications.length">
          <div v-for="publication in publications" :id="'publication'+publication.id" class="publicationBigCont ws-div">
            <div class="header">
              <router-link :to="{ name: 'user', params: { id: publication.user.id, name: publication.user.name.replace(/[\/\\\s]/g,'-') } }">
                <span class="user"> {{ publication.user.name }} </span>
              </router-link>
              <span class="time"> {{ moment.utc(publication.updated_at).fromNow() }} </span>
            </div>

            <text-auto-direction-rtl-ltr :title="publication.title" :id="publication.id"></text-auto-direction-rtl-ltr>

            <div class="after-body">
              <!-- <span class="in"> في </span> -->
              <router-link :to="{ name: 'category', params: { id: publication.category.id , category : publication.category.category.replace(/[\/\\\s]/g,'-')} }">
                <span class="category"> #{{ publication.category.category }}</span>
              </router-link>
            </div>
            <div class="footer columns">
              <div class="column">
                <span class="comments"> ({{ publication.comments }}) {{ $store.getters.lang.comment }}  </span>
              </div>
              <like-btn target_type="publication" :target_id="publication.id" :user_id="publication.user.id" :value="publication.likes"></like-btn>
            </div>
          </div>
        </div>

        <!--
        Load for:
        Home, Category and User page
        -->
        <div v-if="!publications_toolbar_filtering">
          <!-- publications by category -->
          <div v-if="$route.name == 'category' && reopen_to_update" ref="loading" class="infinite-div">
            <infinite-loading  :distance="500" spinner="waveDots" @infinite="getAllpublicationsByCategory"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>

          <!-- publications by user -->
          <div v-if="$route.name == 'user' && reopen_to_update" ref="loading" class="infinite-div">
            <infinite-loading :distance="500" spinner="waveDots" @infinite="getAllpublicationsByUser"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>

          <!-- all publications -->
          <div v-if="$route.name != 'category' && $route.name != 'user'" ref="loading" class="infinite-div">
            <infinite-loading :distance="500" spinner="waveDots" @infinite="getAllpublications"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>
        </div>

        <div v-if="publications_toolbar_filtering">

          <!-- common publications -->
          <div v-if="load_common && reopen_to_update" ref="loading" class="infinite-div">
            <infinite-loading  :distance="500" spinner="waveDots" @infinite="getCommon"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>

          <!-- best of day publications -->
          <div v-if="load_best_of_day && reopen_to_update" ref="loading" class="infinite-div">
            <infinite-loading  :distance="500" spinner="waveDots" @infinite="getBestOfDay"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>

          <!-- best of all publications -->
          <div v-if="load_best_of_all && reopen_to_update" ref="loading" class="infinite-div">
            <infinite-loading  :distance="500" spinner="waveDots" @infinite="getBestOfAll"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>

          <!-- search -->
          <div v-if="load_search && reopen_to_update" ref="loading" class="infinite-div">
            <infinite-loading  :distance="500" spinner="waveDots" @infinite="getSearchResult"></infinite-loading>
            <span slot="no-results">
              <span v-if="no_more_data" slot="no-results">

                <!-- no more result message -->
                <div class="no-more-result-msg">
                    {{ $store.getters.lang.no_more_posts }}
                </div>

              </span>
            </span>
          </div>

        </div>

  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
  data(){
    return {
      moment,
      publications: [],
      no_more_data: false,
      route: null,
      reopen_to_update: true,
      load_common: false,
      load_best_of_day : false,
      load_best_of_all : false,
      load_search : false,
      publications_toolbar_filtering: false,
    }
  },

  beforeUpdate(){
    if(this.$route.params.id != this.route && this.$route.name == 'category') {
      this.publications = [];
      window.scrollTo(0, 0);
      this.reopen_to_update = false;
      setTimeout(() => {
        this.reopen_to_update = true;
      }, 5);
      this.route = this.$route.params.id;
    }
  },

  methods: {

    search(){

      if(this.$refs.search.value.length){
        this.publications_toolbar_filtering = true;
        this.load_common = false;
        this.load_best_of_day = false;
        this.load_best_of_all = false;
        this.load_search = true;

        this.publications = [];
        this.no_more_data = false;

        this.reopen_to_update = false;
        setTimeout(() => {
          this.reopen_to_update = true;
        }, 5);
      }
      else{
        // if no content in the search input, then toggle the input
        if(this.$refs.search.style.display == 'none') {
          this.$refs.search.style.display = '';
          this.$refs.currentTab.style.display = 'none';
        }else{
          this.$refs.search.style.display = 'none';
          this.$refs.currentTab.style.display = '';
        }
      }

    },

    getSearchResult($state){
      // empty text
      if(!this.$refs.search.value.length) return;

      // search by user
      if(this.$route.name == 'category'){
        axios.get('/search-by-category/'+this.$refs.search.value+'/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }
      // search by category
      else if(this.$route.name == 'user'){
        axios.get('/search-by-user/'+this.$refs.search.value+'/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }
      // search for all [ Default ]
      else {
        axios.get('/search/'+this.$refs.search.value+'/'+this.publications.length)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

    },

    filter(value,current_tab){

      // display the current tab span (common,best of this day, best of all the time)
      this.$refs.currentTab.style.display = '';
      // fill the span with text: (common,best of this day, best of all the time)
      this.$refs.currentTab.innerText = current_tab;

      // hide the search input and clear the value
      this.$refs.search.style.display = 'none';
      this.$refs.search.value = '';

      // indicate that the publications toolbar will start working
      this.publications_toolbar_filtering = true;

      // make sur that InfiniteLoading component is not working
      this.load_common = false;
      this.load_best_of_day = false;
      this.load_best_of_all = false;
      this.load_search = false;

      // clear all publications
      this.publications = [];

      // no_more_data == false means that there is no publications
      this.no_more_data = false;

      // this will start InfiniteLoading while updating somthing
      this.reopen_to_update = false;
      setTimeout(() => {
        this.reopen_to_update = true;
      }, 5);

      switch (value) {
        case 'common':
          this.load_common = true;
          break;
        case 'best-of-day':
          this.load_best_of_day = true;
          break;
        case 'best-of-all':
          this.load_best_of_all = true;
          break;
      }

    },

    // get common publication
    getCommon($state){

      // get commong for this category
      if(this.$route.name == 'category'){
        axios.get('/get-common-publications-for-this-category/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }
      // for this user
      else if(this.$route.name == 'user'){
        axios.get('/get-common-publications-for-this-user/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }
      // common publications for all users and categories
      else {
        axios.get('/get-common-publications/'+this.publications.length)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }
    },

    // get best publications for this day
    getBestOfDay($state){

      // get best publications for this day by this category
      if(this.$route.name == 'category'){
        axios.get('/get-best-of-day-publications-by-category/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

      // get this days's best publications for this user
      else if(this.$router.name == 'user'){
        axios.get('/get-best-of-day-publications-for-this-user/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

      // get this day's best publications
      else {
        axios.get('/get-best-of-day-publications/'+this.publications.length)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

    },

    getBestOfAll($state){

      // for category
      if(this.$route.name == 'category'){
        axios.get('/get-best-of-all-publications-by-category/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

      // for user
      else if(this.$route.name == 'user'){
        axios.get('/get-best-of-all-publications-for-this-user/'+this.publications.length+'/'+this.$route.params.id)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

      // default
      else{
        axios.get('/get-best-of-all-publications/'+this.publications.length)
        .then(res => {
          if(!res.data.length){
            $state.complete();
            this.no_more_data = true;
          }else{
            this.publications = this.publications.concat(res.data);
            $state.loaded();
          }
          NProgress.done();
        })
        .catch(err => {
          NProgress.done();
        });
      }

    },

    getAllpublications($state){
      axios.get('/get_all_publications/'+this.publications.length)
      .then(res => {
        if(!res.data.length){
          $state.complete();
          this.no_more_data = true;
        }else{
          this.publications = this.publications.concat(res.data);
          $state.loaded();
        }
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
        NProgress.done();
      });
    },

    getAllpublicationsByCategory($state){
      axios.get('/get_all_publications_by_category/'+this.publications.length+'/'+this.$route.params.id)
      .then(res => {
        if(!res.data.length){
          $state.complete();
          this.no_more_data = true;
        }else{
          this.publications = this.publications.concat(res.data);
          $state.loaded();
        }
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
        NProgress.done();
      });
    },

    getAllpublicationsByUser($state){
      axios.get('/get_all_publications_by_user/'+this.publications.length+'/'+this.$route.params.id)
      .then(res => {
        if(!res.data.length){
          $state.complete();
          this.no_more_data = true;
        }else{
          this.publications = this.publications.concat(res.data);
          $state.loaded();
        }
        NProgress.done();
      })
      .catch(err => {
        // console.log(err);
        NProgress.done();
      });
    },

    removepublication(id){
      document.getElementById('publication'+id).style.display= 'none';
      this.$toast.open({
          duration: 5000,
          message: this.$store.getters.lang.post_has_been_deleted ,
          position: 'is-bottom',
          type: 'is-dark'
      })
    }
  },

  components: {
      InfiniteLoading,
  },

}
</script>

<style lang="css">
.card {

}
</style>
