<template lang="html">
  <div class="root">

      <navbar></navbar>

      <br>
      <div class="container">
        <div class="BigContainer">
      		<div class="columns">
      			<div class="column is-1"></div>
      			<div class="column is-10">

              <!--  -->
              <div class="columns">
                <div class="column is-9">

                  <div v-if="!publication.id" class="wait-loading ws-div">
                    <div class="header">
                      <span class="user"> example </span>
                      <span class="time"> example </span>
                    </div>
                    <div class="body">
                      <!-- empty -->
                    </div>
                    <p class="content">
                      .
                    </p>
                    <div class="after-body">
                      <span class="category"> #example</span>
                    </div>
                    <div class="footer columns">
                      <div class="column">
                        <span class="comments"></span>
                      </div>
                      <div class="column like-dislike m-b-15">
                        <span> 152 </span>
                        <i class="far fa-thumbs-up m-l-5"></i>
                        <i class="far fa-thumbs-down"></i>
                      </div>
                    </div>
                  </div>

                  <div v-if="publication.id" class="ws-div">
                    <div class="header">
                      <router-link :to="{ name: 'user', params: { id: publication.user.id, name: publication.user.name.replace(/[\/\\\s]/g,'-') } }">
                        <span class="user"> {{ publication.user.name }} </span>
                      </router-link>
                      <span class="time">{{ this.window.moment.utc().fromNow(publication.updated_at) }}</span>
                    </div>
                    <div class="body">
                      <h1 class="body">
                        {{ publication.title }}
                      </h1>
                    </div>
                    <div class="content">
                      <Quill-bubble-show :topic="publication.topic"></Quill-bubble-show>
                      <update-quill-content @changed="changepublicationdata" v-if="$store.getters.user.id == publication.user.id || $store.getters.user.role == 1"  :topic="publication.topic" :category="publication.category.id" :publication_title="publication.title" ></update-quill-content>
                    </div>
                    <div class="after-body">
                      <!-- <span class="in"> في </span> -->
                      <router-link :to="{ name: 'category', params: { id: publication.category.id , category : publication.category.category.replace(/[\/\\\s]/g,'-')} }">
                        <span class="category"> #{{ publication.category.category }}</span>
                      </router-link>
                    </div>
                    <div class="footer columns">
                      <div class="column">
                        <span class="comments"> {{ publication.comments }} {{ $store.getters.lang.comment }} </span>
                        <!-- <span class="add-reply"><i class="fas fa-reply"></i> إضافة تعليق </span> -->
                      </div>
                      <like-btn target_type="publication" :target_id="publication.id" :user_id="publication.user.id" :value="publication.likes"></like-btn>
                    </div>
                  </div>

                  <div class="comments-divider">
                    {{ $store.getters.lang.comments }} ({{ publication.comments }})
                  </div>

                  <div v-if="publication.id">
                    <reply-box @commingresult="addcomment" :publication_title="publication.title" :publicationId="publication.id" :comment="{ id : 0, user: publication.user , open_reply : 1 }"></reply-box>
                  </div>

                  <div v-for="comment in comments" :id="'comment'+comment.id" v-if="comments_ready && comment.parent_comment_id == 0" ref="p_comment" class="comment ws-div">
                    <div class="header">
                      <span class="profile-photo">
                        <img :src="'https://www.gravatar.com/avatar/'+comment.user.profile_img+'?d='+this.window.default_user_photo"/>
                      </span>
                      <router-link :to="{ name: 'user', params: { id: comment.user.id, name: comment.user.name.replace(/[\/\\\s]/g,'-') } }">
                        <span class="user"> {{ comment.user.name }} </span>
                      </router-link>
                      <span class="time"> {{ this.window.moment.utc().fromNow(comment.user.updated_at) }} </span>
                    </div>
                    <div class="content">
                      <Quill-bubble-show :topic="comment.topic"></Quill-bubble-show>
                      <update-quill-content @changed="changecommentdata($event,comment.id)" v-if="$store.getters.user.id == comment.user.id || $store.getters.user.role == 1" :topic="comment.topic" :comment_id="comment.id"></update-quill-content>
                    </div>
                    <div class="footer columns">
                      <div class="column">
                        <span class="comments"> ({{ comment.replies }}) {{ $store.getters.lang.comment }} </span>
                        <span @click="comment.open_reply = true" class="add-reply"><i class="fas fa-reply"></i> {{ $store.getters.lang.reply }} </span>
                      </div>
                      <like-btn target_type="comment" :target_id="comment.id" :user_id="comment.user.id" :value="comment.likes"></like-btn>
                    </div>
                    <div class="replies column is-12">

                      <!-- replies  -->
                      <!-- reply  textarea-->
                      <reply-box @commingresult="addcomment($event,comment.id);comment.replies++" :publication_title="publication.title" :publicationId="publication.id" :comment="comment"></reply-box>

                      <!-- /// -->
                      <f-reply :newcomment="new_comment" :counter="0" v-if="comment.replies > 0" :publication_title="publication.title" :publicationId="publication.id" :commentId="comment.id"></f-reply>

                    </div>
                  </div>

                </div>
                <div class="column is-3">

                  <div class="sideColumn">
                    <join-box :user_obj="publication.user"></join-box>

                    <side-articles-best-of-week></side-articles-best-of-week>

                    <privacy-contact></privacy-contact>
                  </div>

                </div>
              </div>
              <!--  -->

      			</div>
      			<div class="column is-1"></div>
      		</div>
      	</div>
      </div>

  </div>
</template>

<script>
export default {
  data(){
    return {
      language : this.$store.getters.lang,
      window,
      origin_path : window.location.origin,
      publication : {},
      new_comment: null,
      comments : [],
      n_comments: [],
      replies : [],
      // are comments ready to show, by default is false
      comments_ready : false,
      new_reply : {
        topic: '',
        publication_id : 0,
        parent_comment_id: 0
      },
    }
  },
  beforeUpdate(){
    if(this.$route.params.id != this.route) {
      window.scrollTo(0, 0);
      this.route = this.$route.params.id;
      this.getpublication();
      this.comments_ready = false;
    }
  },
  mounted(){
    this.route = this.$route.params.id;
    // get the current publication
    this.getpublication();

    new PrettyScroll('.sideColumn', {
        container: '.BigContainer',
        breakpoint: 1000, // stop running the js when the window size is smaller than 575px
        offsetTop: 80, // space between the sticky element and the top of the window
        offsetBottom: 200, // space between the sticky element and the bottom of the window
        condition: () => true // you can disable the sticky behavior by returning false, it will be executed when you scroll.
      });
  },

  methods: {

    changepublicationdata(object){
      this.publication.title = object.title;
      this.publication.topic = object.topic;
      this.publication.category = object.category;
    },

    changecommentdata(object,id){
      for (var i = 0; i < this.comments.length; i++) {
        if(this.comments[i].id == id){
          this.comments[i].topic = object.topic;
        }
      }
    },

    getNewComment(object){
      this.new_comment = object;
    },

    addcomment(object,id){
      if(object.parent_comment_id != 0) {
        this.new_comment = object;//this.getNewComment(object);
      }else{
        this.comments.push(object);
        this.$router.push(this.$route.path+'#comment'+object.id);
      }
    },

    // get publication
    getpublication(){
      //
      axios.get('/publications/'+this.$route.params.id)
        .then(res => {
          // in case of the publication is not exists
          if(!res.data.length) {
            this.$router.push('/404-page-not-found');
          }
          else {
            this.publication = res.data[0];
            document.getElementsByTagName('meta')[3].content = res.data[0].topic;
            document.getElementsByTagName('meta')[5].content = res.data[0].user.name;

            this.getComments();
          }
        })
        .catch(err => {
        });
    },

    // get all comments
    getComments(){
      axios.get('/comments/'+this.publication.id)
        .then(res => {

          // make an option to open/close the reply box
          for (var i = 0; i < res.data.length; i++) {
            res.data[i].open_reply = false;
            res.data[i].depth = 0;
          }
          this.comments = res.data;
          this.comments_ready = true;
          NProgress.done();
        })
        .catch(err => {
          //
        });
    },

    // send comment to database
    sendToDB(parent_comment_id){
      this.new_reply.parent_comment_id = parent_comment_id;
      this.new_reply.publication_id = this.publication.id;
      axios.post('/post_a_comment',this.new_reply)
      .then(res => {
        this.call_load_next_replies = true;
        this.all_comments.push(this.new_reply);
      })
      .catch(err => {
        //
      });
    },

  }
}

</script>
