<template lang="html">
  <div class="root">

    <navbar></navbar>

    <br>
    <div class="container">
    		<div class="columns">
    			<div class="column is-1"></div>
    			<div class="column">

            <!--  -->
            <div class="columns">
              <div class="column">

                <div class="">
                  {{ $store.getters.lang.follow_more_categories }}
                </div>
                <br>
                <div class="columns is-multiline">


                    <!-- this is a fake div will be shown while loading content
                    Please: don't touch this -->
                    <div v-if="!categories.length" v-for="n in 3" class="column is-4 p-15">
                      <div class="category-box special-box p-25 m-15">
                        <div class="title">
                          <span class="example"> example example </span>
                        </div>
                        <div class="button-div">
                           <button class="button is-primary">
                             {{ $store.getters.lang.follow }}
                           </button>
                        </div>
                      </div>
                    </div>

                    <div v-for="category in categories" :id="'catgory_'+category.id" class="column is-4 p-15">
                      <div class="category-box special-box p-25 m-15">
                        <div class="title"> {{ category.category }} </div>
                        <div class="button-div">
                           <button v-if="follow_list.indexOf(category.id) == -1" @click="followCategory(category.id)" class="button is-primary">
                             {{ $store.getters.lang.follow }}
                           </button>
                           <button v-else @click="unfollowCategory(category.id)" class="button is-light">
                             {{ $store.getters.lang.unfollow }}
                           </button>
                        </div>
                      </div>
                    </div>

                </div>

              </div>
              <div class="column is-3">

                <side-articles-best-of-week></side-articles-best-of-week>

                <privacy-contact></privacy-contact>

              </div>
            </div>
            <!--  -->

    			</div>
    			<div class="column is-1"></div>
    		</div>
    </div>

  </div>
</template>

<script>
export default {

  data(){
    return {
      categories: [],
      follow_list: [],
    }
  },
  updated(){
    this.$store.commit('getCategories');
  },
  mounted(){
    this.getCategories();
  },

  methods: {

    followCategory(id){
      axios.post('/save_followed_category',{
        category_id : id
      }).then(res => {
        if(res.status == 200){
          if(this.follow_list.indexOf(id) == -1 )this.follow_list.push(id);
        }
      }).catch(err => {
        //
      });
    },

    unfollowCategory(id){
      axios.post('/unfollow_category',{
        category_id : id
      }).then(res => {
        if(res.status == 200){
          this.follow_list.splice(this.follow_list.indexOf(id),1);
        }
      }).catch(err => {
        //
      });
    },

    getCategories(){
      axios.get('/get_old_categories')
        .then(res => {
          for (let index = 0; index < res.data.length; index++) {
            this.follow_list.push(res.data[index].id);
          }

          axios.get('/get_categories')
          .then(res => {
            this.categories = res.data;
            NProgress.done();
          })
          .catch(err => {
          });

        })
        .catch(err => {
        });
    }

  },

}
</script>
