<template lang="html">
  <div class="root">

      <navbar></navbar>

      <br>
      <div class="container">
      		<div class="columns">
      			<div class="column is-1"></div>
      			<div class="column is-10">

              <!--  -->
              <div class="columns">
                <div class="column categories-page is-9">

                  <div class="m-b-25">
                    <span ref="tabOfNew" @click="tab = 'new'" class="tab checked">
                      {{ $store.getters.lang.new }}
                    </span>
                    <span ref="tabOfAll" @click="tab = 'all'" class="tab">
                      {{ $store.getters.lang.all }}
                    </span>
                  </div>

                  <div v-if="tab == 'new'">
                    <div v-for="item in new_notifications" class="notif label">
                      <router-link :to="{ name: 'showPublication', params: { id: JSON.parse(item.data).publication_id , title : JSON.parse(item.data).content.replace(/[\/\\\s]/g,'-')} }">
                        <p>{{ JSON.parse(item.data).content }}</p>
                        <span><i class="far fa-user-circle"></i> {{ JSON.parse(item.data).user }} </span>
                      </router-link>
                    </div>
                  </div>

                  <div v-if="tab == 'all'">
                    <div v-for="item in all_notifications" class="notif label">
                      <router-link :to="{ name: 'showPublication', params: { id: JSON.parse(item.data).publication_id , title : JSON.parse(item.data).content.replace(/[\/\\\s]/g,'-')} }">
                        <p>{{ JSON.parse(item.data).content }}</p>
                        <span><i class="far fa-user-circle"></i> {{ JSON.parse(item.data).user }} </span>
                      </router-link>
                    </div>
                    <div v-if="all_notifications.length" class="show-more-div">
                      <button id="remove-notifications" @click="deleteAllNotifications()"><i class="fas fa-trash"></i> {{ $store.getters.lang.delete }} </button>
                      <button id="show-more-notifications" @click="getAllNotifications()"><i class=""></i> {{ $store.getters.lang.more }} </button>
                    </div>
                  </div>

                </div>
                <div class="column is-3">

                  <side-articles-best-of-week></side-articles-best-of-week>

                  <privacy-contact></privacy-contact>

                </div>
              </div>
              <!--  -->

      			</div>
      			<div class="column is-1"></div>
      		</div>
      </div>

  </div>
</template>

<script>

export default {
  data(){
    return {
      all_notifications: [],
      new_notifications: [],
      tab : 'new'
    }
  },
  mounted(){
    this.getAllNotifications();
    this.getNotReadedNotifications();
  },
  methods: {

    deleteAllNotifications(){
      axios.post('/deleteAllNotifications')
      .then(res => {
        this.all_notifications = [];
        this.new_notifications = [];
      })
      .catch(err => {
        //
      });
    },

    markAsReadNotifications(){
      axios.post('/markAsReadNotifications')
      .then(res => {
        //
      })
      .catch(err => {
        // nothing to show
      });
    },

    getNotReadedNotifications(){
        axios.get('/not-readed-notifications')
        .then(res => {
          this.new_notifications = res.data;
          this.markAsReadNotifications();
          NProgress.done();
        })
        .catch(err => {
          //
        });
    },

    getAllNotifications(){
      axios.get('/all-notifications/'+this.all_notifications.length)
      .then(res => {
        this.all_notifications = this.all_notifications.concat(res.data);
        NProgress.done();
      })
      .catch(err => {
        //
      });
    }
  },
  watch : {
    tab(value){
      this.$refs.tabOfAll.className = 'tab';
      this.$refs.tabOfNew.className = 'tab';
      if(value == 'all') this.$refs.tabOfAll.className = 'tab checked';
      else this.$refs.tabOfNew.className = 'tab checked';
    }
  }
}

</script>
