<template lang="html">
  <div class="root profile">

      <navbar></navbar>
      <br>
      <div class="container">
        <div class="container">
      		<div class="columns">
      			<div class="column is-1"></div>
      			<div class="column is-10">

              <!--  -->
              <div class="columns">
                <div class="column is-9">

                  <div class="profile-photo1">
                    <div>
                      <img :src="profile_img">
                    </div>
                    <h1>
                      {{ name }}
                    </h1>
                  </div>

                  <div class="account-info-box special-box">
                    <div class="columns">
                      <div class="column">
                        <div class="number">
                          {{ formatString(user_info.publications) }}
                        </div>
                        <div class="text">
                          {{ $store.getters.lang.posts }}
                        </div>
                      </div>
                      <div class="column">
                        <div class="number">
                          {{ formatString(user_info.comments) }}
                        </div>
                        <div class="text">
                          {{ $store.getters.lang.comments }}
                        </div>
                      </div>
                      <div class="column">
                        <div class="number">
                          {{ formatString(user_info.likes) }}
                        </div>
                        <div class="text">
                          {{ $store.getters.lang.points }}
                        </div>
                      </div>
                      <div class="column">
                        <div class="number">
                          {{ formatString(user_info.likes+(user_info.publications*0.5)+(user_info.comments*0.25)) }}
                        </div>
                        <div class="text">
                          {{ $store.getters.lang.reputation }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>

                  <div>
                    <!-- posts -->
                    <publications :user_id="$route.params.id"></publications>
                  </div>

                </div>
                <div class="column is-3">

                  <a v-if="$store.getters.user.id == $route.params.id" href="/change-info" class="m-b-25">
                    <span class="button is-primary width100"> {{ $store.getters.lang.edit }} </span>
                  </a>

                  <!-- latest posts -->
                  <latest-commented-posts></latest-commented-posts>

                  <privacy-contact></privacy-contact>

                </div>
              </div>
              <!--  -->

      			</div>
      			<div class="column is-1"></div>
      		</div>
      	</div>
      </div>

  </div>
</template>

<script>

export default {
  data(){
    return {
      route: null,
      route_updated : false,
      name : null,
      origin_path : window.location.origin,
      profile_img : null,
      user_info : {
        likes: 0,
        comments: 0,
        publications: 0,
        description : '...',
        country : '...',
        maxim : '...',
        links : [],
      },
    }
  },
  beforeUpdate(){
    if(this.$route.params.id != this.route) {
      window.scrollTo(0, 0);
      this.route = this.$route.params.id;
      this.getMoreSkills();
      this.getUserInfo();
    }
  },
  mounted(){
    this.route = this.$route.params.id;
    // this.getMoreSkills();
    this.getUserInfo();
  },
  methods: {
    formatString(value){
      if(value == 0) return 0;
      else if(value < 1000) return value;

      value = ''+value+'';
      let new_value = '';
      for (var i = 0; i < value.length-1; i++) {
        if((i%3)== 0) new_value += value.charAt(i)+',';
        else new_value += value.charAt(i);
      }
      return new_value;
    },

    getUserInfo(){
      axios.get('/ger-user-info/'+this.$route.params.id)
      .then(res => {
        // console.log(res.data);
        // this.profile_img = 'https://www.gravatar.com/avatar/'+JSON.parse(res.data[0]).profile_img+'?d='+window.location.origin+'/images/default-user.png';
        this.profile_img = 'https://www.gravatar.com/avatar/'+JSON.parse(res.data[0]).profile_img+'?d=https://i.suar.me/varoL/l';
        this.name = JSON.parse(res.data[0]).name;
        // if(this.$route.params.name != this.name) this.$router.push('/users/'+this.$route.params.id+'/'+this.name);
        if(res.data[1] != undefined) {
          this.user_info = res.data[1];
          // this.user_info.links = JSON.parse(res.data[1].links);
          this.user_info_copy = res.data[1];
          // this.user_info_copy.links = JSON.parse(res.data[1].links);
        }
      })
      .catch(err => {
        //
      });
    },

  }
}

</script>
